In [1]:
#Necessary imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm
import os

## Get Twitter Handles of Politicians

In this first step we:

1. Read in all tweet data from JSON: Collected and hydrated from: http://twitterpoliticians.org/
2. Extract the twitter handle of all the politicians
3. Merge with the data containing information about politicians. Also from http://twitterpoliticians.org/

In [16]:
class HandleExtractor:
    
    def build_df(self, path):
    
        final_df = []
        
        for file in tqdm(os.listdir(path)):
            if file.endswith(".jsonl"):
                filename = path + '/' + file
                #Read as chunks to minimize memory usage
                df = [i for i in pd.read_json(filename, lines = True, chunksize=100)]
                df = pd.concat(df) #Concatinate the chunks
                df = self.get_handle(df) #
                final_df.append(df)
                del df #clear some memory

        #concat
        final_df = pd.concat(final_df)
        #Drop duplicates
        final_df = final_df.drop_duplicates(subset = ["user_screen_name"])
        

        return final_df
         
    def get_handle(self, df):
        """
        Extract the twitter handle
        """
        #Get necessary columns. Drop the rest.
        df = df[['user']]
        
        for i in range(df.shape[0]):
            df["user_screen_name"] = df["user"][i]["screen_name"]
            df["uid"] = df["user"][i]["id"]

        #Drop user 
        df = df.drop(columns =  ["user"])
        
        return df

In [17]:
df = HandleExtractor().build_df("test_data")

  0%|          | 0/1 [00:00<?, ?it/s]<ipython-input-16-67af48caa870>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["user_screen_name"] = df["user"][i]["screen_name"]
<ipython-input-16-67af48caa870>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["uid"] = df["user"][i]["id"]
100%|██████████| 1/1 [2:45:19<00:00, 9919.03s/it]

In [18]:
df

  user_screen_name        uid
0    Steven_Woolfe  478679663